<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link type="text/css" rel="stylesheet" href="css/styles.css" />
</head>
<body>
	<div id="Wrapper">
		<div class="reg_tangle" id="UL">
			<img src="img/bat.jpg" />
		</div>
		<div class="reg_tangle" id="UR">
			<img src="img/flowers.jpg" />
		</div>
		<div id="Circle">
			<div id="CircleInner">
				<img src="img/infinity_black-web.png" class="rotating"/>
				<a href="select.html">
					<div id="InfinityWrapper">
						<div id="InfinityCircle">
						</div>
					</div>
				</a>
			</div>
			<div id="yAxis">&nbsp;</div>
			<div id="xAxis">&nbsp;</div>
		</div>
		<div class="reg_tangle" id="LL">
			<img src="img/French-Roses-GraphicsFairy1.jpg" />
		</div>
		<div class="reg_tangle" id="LR">
			<img src="img/shell.gif" />
		</div>
	</div>
</body>
</html>