
<a href="index1.html">
<body class="blue">
	<div id="container">
		<header id="header">
			<span class="arrow-left fadeInDown"></span>
			<span class="logo fadeInDown"></span>
			<span class="arrow-right fadeInDown"></span>
		</header>

		<section id="creative-days">
			<div class="creative fadeInDown">
				<span class="c swing"></span>
				<span class="r wobble"></span>
				<span class="e1 bounce"></span>
				<span class="a1 swing"></span>
				<span class="t wobble"></span>
				<span class="i swing"></span>
				<span class="v bounce"></span>
				<span class="e2 wobble"></span>
			</div>
			<div class="days fadeInUp">
				<span class="d swing"></span>
				<span class="d1 wobble"></span>
				<span class="a2 swing"></span>
				<span class="d2 wobble"></span>
				<span class="y bounce"></span>
				<span class="d3 wobble"></span>
				<span class="s swing"></span>
			</div>
		</section>

		<footer class="date flipInX"></footer>
	</div>
</body>
</a>
</html>