<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link type="text/css" rel="stylesheet" href="css/styles.css" />
</head>
<body>
	<div id="Wrapper">
		<div class="reg_tangle" id="UL">
			<img src="img/bat.jpg" />
		</div>
		<div class="reg_tangle" id="UR">
			<img src="img/flowers.jpg" />
		</div>
		<div id="Circle">
			<div id="CircleInner" class="rotating">
				<img src="img/wheel-of-dumps.png" />
				<a class="bagel" href="yackattack">poop1</a>
				<a class="bagel1" href="story_3.html">poop2</a>
				<a class="bagel2" href="story_2.html">3</a>
				<a class="bagel3" href="story1.html">poop</a>
				<a class="bagel4" href="hamburger">poop</a>

					<div id="InfinityWrapperSelect">
						<div id="InfinityCircleSelect">
							<img src="img/infinity_black-web.png" />
						</div>
					</div>

			</div>
			<div id="yAxis">&nbsp;</div>
			<div id="xAxis">&nbsp;</div>
		</div>
		<div class="reg_tangle" id="LL">
			<img src="img/French-Roses-GraphicsFairy1.jpg" />
		</div>
		<div class="reg_tangle" id="LR">
			<img src="img/shell.gif" />
		</div>
	</div>
</body>
</html>