  ---
title: Story 4
---


    <body class="angela">
      <div id="bg1" data-0="background-position:0px 0px; opacity:1;" data-1000="background-position:0px -1000px; opacity:0;"></div>
      <div id="bg2" data-1200="background-position:0px 0px; opacity: 0;" data-2000="background-position: 0px -10px; opacity:1;" data-2800="opacity:0;"></div>
      <div id="bg3" data-2800="background-position:0px 0px; opacity:0" data-2900="opacity: 1;" data-3200="opacity: 1;" data-3400="opacity: 0; background-position: -3000px 0px;"></div>
      <div id="bg4" data-3400="background-position:0px 0px; opacity:0" data-3500="background-position: 0px 0px; opacity: 1;" data-5800="background-position: 0px -1000px;"></div>

<div id="bg5" data-5400="background-position: 0px 0px; opacity: 0;"
data-6500="background-position: 0px -600px; opacity: 1;"
data-7000="background-position: 0px -1000px; opacity: 1;"
data-8000="background-position: 0px -2400px; opacity: 1;"
data-8500="background-position: 0px -2700px; opacity: 1;"
data-8900="background-position: 0px -2700px; opacity: 0;"></div>

<div id="bg10" data-8500="background-position: 0px 0px; opacity:0;" data-9000="opacity:1;" data-10000="opacity:0; background-position: -2000px 0px; "></div>

<div id="bg101" data-10000="background-position:0px 0px; opacity: 0;" data-10100=" opacity: 1;" data-11099=" opacity: 0;"data-11100=" opacity: 0;"></div>

<div id="bg102" data-10000="background-position:0px 0px; opacity: 0;" data-11200="opacity: 1;"
data-13099="opacity:1;" data=13100="opacity:0;"></div>

<div id="bg103" data-10000="background-position:0px 0px; opacity: 0;" data-14101="opacity: 1;"
data-14099="opacity:1;" data=14100="opacity:0;"></div>

<div id="bg104" data-11201="background-position:0px 0px; opacity: 0;" data-15102="opacity: 1;" data-15099="opacity:1;" data=15100="opacity:0;"></div>

<div id="bg105" data-12100="background-position:0px 0px; opacity: 0;" data-16103="opacity: 1;" data-16099="opacity:1;" data-16200="opacity:0;"></div>

<div id="bg106" data-12100="background-position:0px 0px; opacity: 0;" data-17104="opacity: 1;" data-17099="opacity:1;" data-17200="opacity:0;"></div>

<div id="bg107" data-12100="background-position:0px 0px; opacity: 0;" data-18105="opacity: 1;" data-18099="opacity:1;" data-18200="opacity:0;"></div>

<div id="bg1013" data-12100="background-position:0px 0px; opacity: 0;" data-19106="opacity: 1;" data-19099="opacity:1;"><div class="button"><a href="story_3.html">OKMG HAMBURGERZ</a></div></div>

      <!-- <div id="end" data-60000="background-position:0px 0px; opacity:0;"></div> -->
      <div id="scrollbar" data-0="top:0%;margin-top:2px;" data-end="top:100%;margin-top:-52px;"></div>