  		<div id="wrapper">
            <div id="header">
                <div class="container">
                    <div id="logo" class="floatleft">
                        <h1><a id="logoImg" href="#">LOGO</a></h1>
                    </div>
                    <div id="Navigation" class="floatright">
                        <ul id="nav">
                           <li class="has-kids"><a href="#">Staging Nav<div class="arrow-down"></div></a>
	                              <ul class="dropdown-2">
                                     <li><a href="plans.html">Plans</a></li>
                                     <li><a href="personal.html">Personal</a></li>
                                     <li><a href="business.html">Business</a></li>
                                     <li><a href="business_cards.html">CardPack</a></li>
                                     <li><a href="purchase.html">Purchase</a></li>
                                     <li><a href="complete.html">Completed</a></li>
                                     <li>&nbsp;</li>
                                     <li><a href="enterprise.html">Enterprise</a></li>
                                     <li><a href="units.html">Units</a></li>
                                     <li><a href="invite.html">Invite</a></li>
                                     <li><a href="bulk.html">Bulk Upload</a></li>
                                     <li><a href="bulkview.html">Bulk Uploaded</a></li>
	                              </ul>
	                           </li>
						               <li><a href="#">About</a></li>
                           <li><a href="#">Products</a></li>
                           <li><a href="#">Corporate</a></li>
                           <li class="has-kids"><a href="#">My Account<div class="arrow-down"></div></a>
                              <ul class="dropdown-2">
                                 <li><a href="#">My Profile</a></li>
                                 <li><a href="#">Order Cards</a></li>
                                 <li><a href="#">Settings</a></li>
                                 <li><a href="#">Pricing and Plans</a></li>
                              </ul>
                           </li>
                           <li><a href="#">Log In</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>