<!doctype html>
<html class="{{fixed}}">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{title}}</title>
		<meta name="description" content="Never Ending Story">
		<meta name="keywords" content="Never Ending Story">
		<link rel="icon" href="favicon.png" type="image/x-icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="styles/dumpsquad.css">
		<!--[if lte IE 8]>
        <link rel="stylesheet" href="styles/ie.css" />
        <![endif]-->
    	<!-- build:js(src/) scripts/cardspark.js -->
		<script src="bower_components/jquery/jquery.min.js"></script>
		<script src="bower_components/jquery.validate/index.js"></script>
		<script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
		<script src="bower_components/spectrum/spectrum.js"></script>
		<script src="bower_components/master/jqtransformplugin/jquery.jqtransform.js"></script>
		<script src="bower_components/Nestable/jquery.nestable.js"></script>
		<script src="bower_components/leaflet/src/Leaflet.js"></script>
		<script src="bower_components/jquery.qtip-1.0.0-rc3.min/index.js"></script>
		<script src="bower_components/custom-form-elements/index.js"></script>
		<script src="bower_components/jquery-selectBox/jquery.selectBox.min.js"></script>
		<script src="bower_components/v0.9.12/chosen/chosen.jquery.min.js"></script>
		<script src="bower_components/tablesorter/js/jquery.tablesorter.min.js"></script>
		<!-- endbuild -->


	</head>

	<body>
		{{>navigation}}
		{{>body}}
	</body>

</html>
